{
  "openapi": "3.0.1",
  "info": {
    "title": "Timetable Management",
    "description": "Upload and download NeTEx datasets",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.entur.io/timetable/v1/timetable-management",
      "description": "Production"
    },
    {
      "url": "https://api.staging.entur.io/timetable/v1/timetable-management",
      "description": "Staging"
    },
    {
      "url": "https://api.dev.entur.io/timetable/v1/timetable-management",
      "description": "Development"
    }
  ],
  "security": [
    {
      "jwt": []
    }
  ],
  "tags": [
    {
      "name": "Datasets",
      "description": "Standard timetable dataset operations"
    },
    {
      "name": "Flexible Transport",
      "description": "Flexible transport dataset operations"
    }
  ],
  "paths": {
    "/datasets/{codespace}": {
      "post": {
        "summary": "Upload NeTEx dataset",
        "description": "Upload a NeTEx dataset",
        "operationId": "upload",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "codespace",
            "in": "path",
            "description": "Provider Codespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "NeTEx dataset file (ZIP archive)"
                  }
                }
              },
              "examples": {
                "dataset-upload": {
                  "summary": "Upload timetable dataset",
                  "description": "Example of uploading a NeTEx dataset ZIP file for provider RUT",
                  "value": {
                    "file": "netex-dataset-rut-2024-01-15.zip"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                },
                "examples": {
                  "upload-success": {
                    "summary": "Successful upload",
                    "description": "Dataset upload initiated successfully",
                    "value": {
                      "correlationId": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown codespace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unknown-codespace": {
                    "summary": "Codespace not found",
                    "value": {
                      "errorCode": "CODESPACE_NOT_FOUND",
                      "message": "The specified codespace 'XYZ' is not registered in the system"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal-error": {
                    "summary": "Server error",
                    "value": {
                      "errorCode": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred while processing the upload"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flex-datasets/{codespace}": {
      "post": {
        "summary": "Upload flexible transport dataset",
        "description": "Upload a NeTEx dataset containing flexible transport data",
        "operationId": "uploadFlexDataset",
        "tags": ["Flexible Transport"],
        "parameters": [
          {
            "name": "codespace",
            "in": "path",
            "description": "Provider Codespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "NeTEx flex dataset file (ZIP archive)"
                  }
                }
              },
              "examples": {
                "flex-dataset-upload": {
                  "summary": "Upload flexible transport dataset",
                  "description": "Example of uploading a NeTEx flexible transport dataset ZIP file for provider FLX",
                  "value": {
                    "file": "netex-flex-dataset-flx-2024-01-15.zip"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                },
                "examples": {
                  "flex-upload-success": {
                    "summary": "Successful flex upload",
                    "description": "Flexible transport dataset upload initiated successfully",
                    "value": {
                      "correlationId": "660f9511-f30c-52e5-b827-557766551111"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown codespace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unknown-codespace": {
                    "summary": "Codespace not found",
                    "value": {
                      "errorCode": "CODESPACE_NOT_FOUND",
                      "message": "The specified codespace 'ABC' is not registered in the system"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal-error": {
                    "summary": "Server error",
                    "value": {
                      "errorCode": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred while processing the flex dataset upload"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{codespace}/filtered": {
      "get": {
        "summary": "Download filtered NeTEx dataset",
        "description": "Download NeTEx dataset with private data. Old data and unsupported NeTEx entities are filtered out",
        "operationId": "download",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "codespace",
            "in": "path",
            "description": "Codespace of the NeTEx dataset",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Unknown codespace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unknown-codespace": {
                    "summary": "Codespace not found",
                    "value": {
                      "errorCode": "CODESPACE_NOT_FOUND",
                      "message": "No dataset found for codespace 'DEF'"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal-error": {
                    "summary": "Server error",
                    "value": {
                      "errorCode": "INTERNAL_ERROR",
                      "message": "An unexpected error occurred while preparing the download"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "jwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "UploadResult": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "Error code identifying the type of error"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        },
        "required": ["errorCode", "message"]
      }
    }
  }
}