common:
  env: dev

  ingresses:
    - name : timetable-admin-v1-map
      trafficType: api
      host: timetable-admin-v1-map-gcp2.dev.entur.io
    - name: timetable-admin-v1-timetable
      trafficType: api
      host: timetable-admin-v1-timetable-gcp2.dev.entur.io
sql:
  instance: ent-marduk-dev:europe-west1:marduk-db-pg13=tcp:5432


gcp:
  blobstoreProjectId: ent-marduk-dev
  mardukPubsubProjectId: ent-marduk-dev
  antuPubsubProjectId: ent-antu-dev
  nabuPubsubProjectId: ent-nabu-dev
  ashurPubsubProjectId: ent-ashur-dev
  bucketName: marduk-dev
  internalBucketName: ror-marduk-internal-dev
  exchangeBucketName: marduk-exchange-dev
  otpReportBucketName: otpreport.dev.entur.org
  otpGraphBucketName: ror-otp-graphs-gcp2-dev
  nisabaExchangeBucketName: ror-nisaba-exchange-dev
  antuExchangeBucketName: ror-antu-exchange-gcp2-dev
  osmSubDirectory: osm

antu:
  prevalidationCronSchedule: 0+55+23+?+*+MON-FRI

chouette:
  service: http://chouette.dev.entur.internal
  removeOldJobsCronSchedule: 0+15+23+?+*+MON-FRI
  gtfsExport: false
  enablePreValidation: false
  enablePostValidation: false

ashur:
  enableFiltering: false

baba:
  service: http://baba.dev.entur.internal

nanna:
  service: http://nanna.dev.entur.internal

duplicateFileFilter:
  webFilter: true

netex:
  import:
    http:
      autoStartup: true
  export: tiamat/CurrentAndFuture_latest.zip

osm:
  fetchCronSchedule: 0+11+*+*+*+?
otp:
  graph:
    build:
      autoStartup: true

auth0:
  partner:
    url: https://partner.dev.entur.org
    audience: https://api.dev.entur.io
    administratorAccessEnabled: true

roleAssignmentExtractor: baba

oauth2:
  client:
    id: AGlUqV7eXeRUPrXQejItcJZglPHoxSiH
    url: https://internal.dev.entur.org/oauth/token
    audience: https://api.dev.entur.io

line:
  statistics:
    calculation:
      enabled: true

codespaces:
  sweden: VAN,VAS,VTR