common:
  env: tst

  ingresses:
    - name : timetable-admin-v1-map
      trafficType: api
      host: timetable-admin-v1-map-gcp2.staging.entur.io
    - name: timetable-admin-v1-timetable
      trafficType: api
      host: timetable-admin-v1-timetable-gcp2.staging.entur.io
sql:
  instance: ent-marduk-tst:europe-west1:marduk-db-pg13=tcp:5432


gcp:
  blobstoreProjectId: ent-marduk-tst
  mardukPubsubProjectId: ent-marduk-tst
  antuPubsubProjectId: ent-antu-tst
  nabuPubsubProjectId: ent-nabu-tst
  ashurPubsubProjectId: ent-ashur-tst
  bucketName: marduk-test
  internalBucketName: ror-marduk-internal-test
  exchangeBucketName: marduk-exchange-test
  otpReportBucketName: otpreport.staging.entur.org
  otpGraphBucketName: ror-otp-graphs-gcp2-test
  nisabaExchangeBucketName: ror-nisaba-exchange-test
  antuExchangeBucketName: ror-antu-exchange-gcp2-test
  ashurExchangeBucketName: ror-ashur-exchange-gcp-tst
  servicelinkerPubsubProjectId: ent-servicelnk-tst
  servicelinkerExchangeBucketName: ror-servicelinker-exchange-gcp-tst
  osmSubDirectory: osm

antu:
  prevalidationCronSchedule: 0+30+4+?+*+*

chouette:
  service: http://chouette.tst.entur.internal
  removeOldJobsCronSchedule: 0+00+02+?+*+MON-FRI
  gtfsExport: false
  enablePreValidation: false
  enablePostValidation: false

servicelinker:
  enableLinking: false

ashur:
  enableFiltering: false

baba:
  service: http://baba.tst.entur.internal

nanna:
  service: http://nanna.tst.entur.internal

duplicateFileFilter:
  webFilter: true

netex:
  import:
    http:
      autoStartup: true
  export: tiamat/CurrentAndFuture_latest.zip

osm:
  fetchCronSchedule: 0+11+*+*+*+?
otp:
  graph:
    build:
      autoStartup: true
auth0:
  partner:
    url: https://partner.staging.entur.org
    audience: https://api.staging.entur.io,https://portal.staging.entur.org
    administratorAccessEnabled: false

roleAssignmentExtractor: baba

experimentalImportEnabled: false

oauth2:
  client:
    id: 5wxWPHwd5Tvly9IVWN5m1iyHIDLVJTBH
    url: https://internal.staging.entur.org/oauth/token
    audience: https://api.staging.entur.io

line:
  statistics:
    calculation:
      enabled: true

codespaces:
  sweden: SAM,VAN,VAS,VTR